@charset "UTF-8";
body {
	background-color: #F2F2F2;
}
.hero {
	background-color: #F7F7F7;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.row .col-lg-1 .img-circle.img-responsive {
	margin-top: 35px;
}
.name {
	-webkit-box-shadow: 0px 0px #4F4F4F;
	box-shadow: 0px 0px #4F4F4F;
	font-size: 24px;
	line-height: 36px;
	font-family: 'Francois One', sans-serif;
}
.name_disc {
	font-family: 'Khula', sans-serif;
}
