@charset "UTF-8";
body {
	background-color: #E8E8E8;
}
.hero {
	background-color: #B18A8A;
	background-image: url(../images/bgbg.svg);
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	padding-top: auto;
	padding-bottom: auto;
	display: block;
}
