@charset "UTF-8";
body {
	background-color: #F2F2F2;
}
.hero {
	background-color: #F7F7F7;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
